@import "bootstrap/scss/bootstrap";

.required:after {
  content: " *";
  color: red;
}

.nav-item.active {
  position: relative;
}

.nav-item.active::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 3px;
  background: #1151ce;
  left: 5px;
}

.nav-link {
  padding: 0.3rem 1rem;
}
